body {
  font-family: 'Assistant', sans-serif;
  font-size: 13px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.w3-center {
  
  background-color: #001A4B;
  color: #E8E1DF;
  border-radius: 0;
  border-bottom: 10px solid #E8E1DF;
}

.para1 {
  font-size: 15px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #adaaac;
  color: white;
}

.present {
  background-color: #98dbbc;
  color: white;
}

.future {
  background-color: #e2de9e;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #034753;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
